name: Reset my branch X=qa-new

on:
  workflow_dispatch:
    inputs:
      source_branch:
        description: 'Source branch'
        required: true
        default: 'master'
      dest_branch:
        description: 'Destination branch'
        required: true
        default: 'qa'


jobs:
  select-qa-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git push -v --force origin ${{ github.event.inputs.source_branch }}:${{ github.event.inputs.dest_branch }}
